.bold { font-weight: bold; }
.yellow { background-color: #ffff00; }

.hide   { display: none; }
.dangle { display: none; margin-left: 20px; }

.nowrap { white-space: nowrap; }
.pre    { white-space: pre; }
.right  { text-align: right; }
.left   { text-align: left; }
.center { text-align: center; }
.top    { vertical-align: top; }
.bottom { vertical-align: bottom; }
.middle { vertical-align: middle; }

body { line-height: 1.8; }
code { line-height: 1.2; padding: 5px; }
td { vertical-align: top; }
a { margin-left: 5px; white-space: nowrap; text-decoration-line: none; }
form { margin-bottom: 3px; }
iframe {margin: 3px; }
h1 { margin: 5px; }
